.cover__link {
  text-decoration: none;
  color: inherit;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 245px 312px;
  background: center / cover url('../../../images/cover-background.jpg') no-repeat;
}

.cover__link:after{
  position: absolute;
  content: "";
  z-index: -1;
  height: 100%;
  width: 100%;
  transition: background-color 0.3s linear;
  background-color: rgba(42, 44, 47, .3);
}

.cover__link:hover::after {
  background-color: rgba(42, 44, 47, .8);
}

@media (max-width: 1051px) {
  .cover__link {
    padding: 195px 232px;
  }
}

@media (max-width: 894px) {
  .cover__link {
    padding: 115px 104px;
  }
}

@media (max-width: 350px) {
  .cover__link {
    padding: 33px 16px;
  }
}