.lead__container-img {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 64px auto 0;
}

@media (max-width: 1024px) {
  .lead__container-img {
    margin-top: 56px;
  }
}

@media (max-width: 390px) {
  .lead__container-img {
    margin-top: 40px;
  }
}