.intro {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 93px auto 0;
  max-width: 984px;
  padding: 0 48px;
}

@media (max-width: 768px) {
  .intro {
    padding: 0 24px;
    margin-top: 88px; 
  }
}

@media (max-width: 350px) {
  .intro {
    margin-top: 64px;
    padding: 0 16px;
  }
}