.place__columns {
  display: grid;
  grid-row-gap: 48px;
  grid-column-gap: 40px;
  padding: 0;
  margin: 80px 0 0;
  list-style: none;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto min-content;
}

@media (max-width: 524px) {
  .place__columns {
    grid-template-columns: 100%;
    grid-template-rows: autofit min-content;
  }
}