.place__columns {
  display: grid;
  grid-row-gap: 48px;
  grid-column-gap: 40px;
  padding: 0;
  margin: 80px auto 0;
  list-style: none;
  grid-template-columns: minmax(320px, 460px) 49%;
  grid-template-rows: auto min-content;
}

@media (max-width: 1024px) {
  .place__columns {
    grid-column-gap: 32px;
    margin-top: 80px;
  }
}

@media (max-width: 768px) {
  .place__columns {
    grid-column-gap: 28px;
    margin-top: 61px;
  }
}

@media (max-width: 524px) {
  .place__columns {
    margin-top: 38px;
    grid-template-columns: 100%;
    grid-template-rows: auto min-content;
    line-height: 145%;
    grid-row-gap: 28px;
  }
}