.intro__title {
  max-width: 690px;
  width: 100%;
  font-size: 54px;
  line-height: 107%;
  font-weight: 900;
  margin: 0;
}

@media (max-width: 390px) {
  .intro__title {
    font-size: 32px;
    line-height: 111%;
    max-width: 250px;
  }
}